SpeechRecognition
apscheduler
asyncpg
coverage
dotenv
fastapi
ffmpeg-python
gTTS
geopy
httpx
openai
psycopg2-binary
python-telegram-bot
python-telegram-bot[job-queue]
pytz
requests
soundfile
uvicorn
